<style>
		body {background-color: #cdc9c3}
		.white-card {
			padding:30px;
			margin: 45px;
			box-shadow: 100px 150px 200px rgba(1,2,2,0.15);
			background-color: #fbf7f0;
			text-align: center;}

	</style>